/* custom styles */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0 250px;
}

.flex {
  display: flex;
}

.pad-200 {
  padding: 0 200px;
}

/* dark background color */

header,
.hero,
footer {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-container {
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 25px;
}

.header__links-container {
  gap: 30px;
}

.hero__title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.header__link,
.hero__secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.img-placeholder {
  align-items: center;
}

.placeholder-text {
  color: #e5e7eb;
  position: relative;
  left: 50%;
}

.hero {
  justify-content: space-between;
  padding-bottom: 50px;
}

.hero__content {
  flex-basis: 33%;
}

.btn {
  color: #e5e7eb;
  background-color: #3882f6;
  border: 0;
  border-radius: 10px;
  width: 100px;
  height: 25px;
}

/* cards container */

.cards__container-main {
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.cards__container-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 25px;
}

.cards__container-inside {
  gap: 100px;
}

.card__information {
  font-size: 14px;
  flex-direction: column;
  width: 125px;
  text-align: center;
}

.card {
  border: 2px solid #3882f6;
  border-radius: 10px;
  width: 125px;
  height: 125px;
}

/* quote section */

.quote__container {
  background-color: #e5e7eb;
  padding: 100px 200px;
  flex-direction: column;
}

.quote__container-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.quote__container-signature {
  font-weight: bold;
  align-self: flex-end;
}

/* call to action */

.call-to-action__container {
    background-color: #3882f6;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin: 50px 150px;
    border-radius: 10px;
}

.call-to-action__container-text {
    color: #e5e7eb;
    flex-direction: column;
}

.btn-secondary {
  border: 1px solid #e5e7eb;
}

/* footer */

footer {
  align-items: center;
  flex-direction: column;
}

.copyright {
  padding: 25px;
  color: #f9faf8;
}
